<div class="footer-component">
  <div class="icons-list">
    <fa-icon [icon]="['fab', 'facebook']" class="brand-icon"></fa-icon>
    <fa-icon [icon]="['fab', 'twitter']" class="brand-icon"></fa-icon>
    <fa-icon [icon]="['fab', 'youtube']" class="brand-icon"></fa-icon>
    <fa-icon [icon]="['fab', 'square-instagram']" class="brand-icon"></fa-icon>
  </div>

  <div class="pages-list">
    <div routerLink="/" class="page">Home</div>
    <div routerLink="/buy-a-car" class="page">Buy a car</div>
    <div routerLink="/sell-a-car" class="page">Sell a car</div>
    <div routerLink="" class="page">Home</div>
  </div>

  <div class="d-flex justify-content-center">
    <fa-icon [icon]="['fas', 'copyright']" class="fs-5 me-1 mb-5"></fa-icon>
    <div>2024 Andy Auto | All Rights Reserved</div>
  </div>
</div>
