<div class="upper-buttons">
  <div class="login-upper-btn disabled-btn custom-btn"
       (click)="showLoginForm()">
    Login
  </div>

  <div class="register-upper-btn active-btn custom-btn">
    Register a NEW ACCOUNT
  </div>
</div>

<div class="d-flex flex-column">
  <div class="input-row">

    <div class="col left-input">
      <span class="p-float-label">
        <input pInputText id="first-name" />
        <label for="first-name">First name</label>
      </span>
    </div>

    <div class="col right-input">
      <span class="p-float-label">
        <input pInputText id="last-name" />
        <label for="last-name">Last name</label>
      </span>
    </div>

  </div>

  <div class="input-row">

    <div class="col left-input">
      <span class="p-float-label">
        <input pInputText id="email" />
        <label for="email">Email address</label>
      </span>
    </div>

    <div class="col right-input">
      <span class="p-float-label">
        <input pInputText id="phone-number" />
        <label for="hone-number">Phone number</label>
      </span>
    </div>

  </div>

  <div class="input-row">

    <div class="col left-input">
      <span class="p-float-label">
        <input pInputText id="password" />
        <label for="password">Password</label>
      </span>
    </div>

    <div class="col right-input">
      <span class="p-float-label">
        <input pInputText id="password-confirmation" />
        <label for="password-confirmation">Confirm password</label>
      </span>
    </div>

  </div>


</div>

<div class="submit-button disabled-btn custom-btn">
  Register
</div>
