<app-navigation-bar></app-navigation-bar>

<div id="content-section-element" class="content-section">

  <div class="left-section col-3">

    <div class="h5 fw-bold my-4 text-center">
      Search for a car
    </div>

    <div class="d-flex align-items-center mb-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Make
      </div>

      <div class="col-8">
        <p-multiSelect [options]="cars"
                       [(ngModel)]="selectedCarMakes"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Model
      </div>

      <div class="col-8">
        <p-multiSelect [disabled]="true"
                       [options]="models"
                       [(ngModel)]="selectedModels"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Body type
      </div>

      <div class="col-8">
        <p-multiSelect [options]="body_types"
                       [(ngModel)]="selectedBodyTypes"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Price
      </div>

      <div class="col-8 d-flex">

        <p-inputNumber class="col-5 " inputId="integeronly"
                       [min]="1"
                       [max]="10000000"
                       placeholder="From">
        </p-inputNumber>

        <p-inputNumber class="col-5 offset-2 align-items-end"
                       inputId="integeronly"
                       [min]="1"
                       [max]="10000000"
                       placeholder="To">
        </p-inputNumber>

      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        First registration
      </div>

      <div class="col-8">
        <p-inputNumber class="col-5 " inputId="integeronly"
                       [min]="1900"
                       [max]="2024"
                       placeholder="From">
        </p-inputNumber>

        <p-inputNumber class="col-5 offset-2 align-items-end"
                       inputId="integeronly"
                       [min]="1900"
                       [max]="2024"
                       placeholder="To">
        </p-inputNumber>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Mileage
      </div>

      <div class="col-8">
        <p-inputNumber class="col-5 " inputId="integeronly"
                       [min]="0"
                       [max]="1000000"
                       placeholder="From">
        </p-inputNumber>

        <p-inputNumber class="col-5 offset-2 align-items-end"
                       inputId="integeronly"
                       [min]="0"
                       [max]="1000000"
                       placeholder="To">
        </p-inputNumber>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Fuel
      </div>

      <div class="col-8">
        <p-multiSelect [options]="fuel_types"
                       [(ngModel)]="selectedFuelTypes"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Cubic capacity
      </div>

      <div class="col-8">
        <p-inputNumber class="col-5" inputId="integeronly"
                       [min]="1"
                       [max]="20000"
                       placeholder="From">
        </p-inputNumber>

        <p-inputNumber class="col-5 offset-2 align-items-end"
                       inputId="integeronly"
                       [min]="1"
                       [max]="20000"
                       placeholder="To">
        </p-inputNumber>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Transmission
      </div>

      <div class="col-8">
        <p-multiSelect [options]="transmission_types"
                       [(ngModel)]="selectedTransmissionTypes"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center my-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Traction
      </div>

      <div class="col-8">
        <p-multiSelect [options]="traction_types"
                       [(ngModel)]="selectedTractionTypes"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <div class="d-flex align-items-center mt-1">

      <div class="col-4 fs-6 d-flex align-items-center">
        Wheel position
      </div>

      <div class="col-8">
        <p-multiSelect [options]="wheel_positions"
                       [(ngModel)]="selectedWheelPosition"
                       optionLabel="label"
                       placeholder="Choose">
        </p-multiSelect>
      </div>

    </div>

    <p-button class="search-car-button
              show-results-button"
              label="Show 0 results"
              [loading]="loadingCarsPageBool"
              (onClick)="loadCarsPage()"></p-button>

    <p-button class="search-car-button
              reset-filters-button"
              label="Reset filters"
              [loading]="loadingResetFiltersBool"
              (onClick)="resetFilters()"></p-button>


  </div>

  <div class="right-section col">

    <div class="check-box-container h5">

      <div class="check-box">

        <svg xmlns="http://www.w3.org/2000/svg"
             width="40" height="40"
             fill="currentColor"
             class="bi bi-check"
             viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
        </svg>

        Test drive

      </div>

      <div class="check-box">

        <svg xmlns="http://www.w3.org/2000/svg"
             width="40" height="40"
             fill="currentColor"
             class="bi bi-check"
             viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
        </svg>

        Free return within 7 days

      </div>

      <div class="check-box">

        <svg xmlns="http://www.w3.org/2000/svg"
             width="40" height="40"
             fill="currentColor"
             class="bi bi-check"
             viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
        </svg>

        24 months guarantee

      </div>

    </div>

    <div class="number-sort d-flex">

      <div class="col d-flex align-items-center">
        Cars - 0
      </div>

      <div class="col d-flex align-items-center">

        <div class="col text-end me-2">
          Sort by:
        </div>

        <p-dropdown class="sort-by-select"
                    [options]="sort_types"
                    [(ngModel)]="selectedSortType"
                    placeholder="Choose"
                    optionLabel="name"
                    [showClear]="true"></p-dropdown>

      </div>

    </div>

    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>
    <app-car-box></app-car-box>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>



  </div>

</div>

