<app-contact-bar></app-contact-bar>

<app-navigation-bar></app-navigation-bar>

<div class="listing-content">
  <div class="col-8 d-flex flex-column bg-white me-5 p-4 rounded-2">
    <div class="listing-image">
      <img
        src="./assets/Images/m5.jpg"
        class="object-fit-cover h-100"
        alt="car-image"
      />
    </div>
  </div>

  <div class="col d-flex flex-column bg-white p-4 rounded-2">
    <div class="h4 fw-bold me-auto">BMW 5-series</div>

    <div class="h4 fw-bold me-auto">44.999 €</div>

    <div class="listing-check mt-5">
      <div class="col-2 ms-3">
        <svg
          width="25"
          height="25"
          fill="#ff533d"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
          />
        </svg>
      </div>

      <div class="col h5 mb-0">Test drive</div>
    </div>

    <div class="listing-check mt-2">
      <div class="col-2 ms-3">
        <svg
          width="25"
          height="25"
          fill="#ff533d"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
          />
        </svg>
      </div>

      <div class="col h5 mb-0">Leasing</div>
    </div>

    <div class="listing-check mt-2">
      <div class="col-2 ms-3">
        <svg
          width="25"
          height="25"
          fill="#ff533d"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
          />
        </svg>
      </div>

      <div class="col h5 mb-0">24 months guarantee</div>
    </div>

    <div class="mt-5 h5 mt-auto mb-0">
      This car is available at our dealership located at:
      <div class="fw-bold h5 mb-0 mt-2">Craiova, Str. Caracal 139</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
