.navigation-bar-component {
  background-color: #1f104a;
  color: white;
  padding: 3px 10vw 3px 10vw;

  .brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    .name {
      color: white;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      font-size: 22px;
    }
  }

  .page {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.5vw;
  }
}

@media (max-width: 1200px) {
  .navigation-bar {
    text-align: right;
  }
}
