<div class="upper-buttons">
  <div class="login-upper-btn active-btn custom-btn">
    Login
  </div>

  <div class="register-upper-btn disabled-btn custom-btn"
       (click)="switchForm()">
    Register a NEW ACCOUNT
  </div>
</div>

<form [formGroup]="loginForm">
  <div class="d-flex flex-column">
    <span class="p-float-label mt-5 mb-3">
      <input pInputText [email]="true"
             formControlName="email" />
      <label> Email address </label>
    </span>

    <span class="p-float-label mt-3 mb-5">
      <input pInputText
             formControlName="password" />
      <label> Password </label>
    </span>

    <div class="remember-me mt-5">
      <p-checkbox value="checked"
                  label="Remember me"></p-checkbox>
    </div>
  </div>
</form>

@if (invalidCredentials == true)
{
<div class="error-text mt-3">
  Invalid email or password!
</div>
}

<div class="disabled-btn custom-btn my-4"
     (click)="login()">
  Login
</div>
