.login-form-component {
  .upper-buttons {
    display: flex;
    margin-top: 100px;
    margin-bottom: 60px;

    .login .p-button {
      background-color: #ff533d;
    }

    .register .p-button {
      background-color: #1f104a;
    }

    .register-box {
      display: flex;
      justify-content: end;
      margin-left: 20px;
    }
  }

  .p-button {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      opacity: 0.9;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }

  .submit .p-button {
    background-color: #1f104a;
    margin-top: 30px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    .input-box {
      margin-bottom: 30px;
    }

    .input {
      width: 100%;
    }

    .remember-me {
      color: dimgray;
    }
  }

  .p-float-label > .ng-invalid.ng-dirty + label {
    color: dimgray;
  }

  .successfully-registered {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    border-radius: 6px;
    color: darkgreen;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .error {
    color: red;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
  }
}

@media (max-width: 800px) {
  .login-form-component {
    .upper-buttons {
      flex-direction: column;

      .register-box {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}
