<div class="upper-buttons">
  <div class="login-upper-button custom-button">
    Login
  </div>

  <a class="register-upper-button custom-button"
     href="/account/register">
    Register a NEW ACCOUNT
  </a>
</div>

@if (checkIfSuccessfullyRegistered())
{
  <div class="login-successfully-registered">
    Successfully registered! Please log in!
  </div>
}

<form [formGroup]="loginForm">
  <div class="d-flex flex-column">
    <span class="p-float-label login-input mt-5 mb-3">
      <input pInputText [email]="true"
             formControlName="email" />
      <label> Email address </label>
    </span>

    <span class="p-float-label login-input mt-3 mb-2">
      <input pInputText
             formControlName="password" />
      <label> Password </label>
    </span>

    <div class="remember-me mt-5">
      <p-checkbox formControlName="rememberMe"
                  value="checked"
                  label="Remember me"></p-checkbox>
    </div>
  </div>
</form>

@if (invalidCredentials)
{
<div class="error-text mt-3">
  Invalid email or password!
</div>
}

<div class="submit-button custom-button my-4"
     (click)="login()">
  Login
</div>
