<div class="login-form-component">
  <div class="upper-buttons">
    <p-button class="col login" label="Login"> </p-button>

    <div class="col register-box">
      <p-button
        routerLink="/account/register"
        class="col register"
        label="Register a NEW ACCOUNT"
      >
      </p-button>
    </div>
  </div>

  <form [formGroup]="loginForm" class="login-form">
    <span class="p-float-label input-box">
      <input formControlName="email" class="input" pInputText [email]="true" />
      <label> Email address </label>
    </span>

    <span class="p-float-label input-box">
      <input formControlName="password" class="input" pInputText />
      <label> Password </label>
    </span>

    <div class="remember-me">
      <p-checkbox
        formControlName="rememberMe"
        value="checked"
        label="Remember me"
      ></p-checkbox>
    </div>
  </form>

  <p-button (click)="login()" class="col submit" label="Login"> </p-button>
</div>
