<div class="car-filters-component">
  <div class="filter">
    <div class="label">Make</div>

    <p-multiSelect
      [options]="constantCarsList.MakesArray"
      [(ngModel)]="filtersList.makes"
      (onChange)="onMakeSelected()"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Model</div>

    <p-multiSelect
      [options]="constantCarsList.ModelsByMake"
      [(ngModel)]="filtersList.models"
      [disabled]="constantCarsList.modelInputDisabled"
      class="col"
      [group]="true"
      placeholder="Choose"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <span> {{ group.label }} </span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Body type</div>

    <p-multiSelect
      [options]="constantCarsList.BodyTypes"
      [(ngModel)]="filtersList.bodies"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Price</div>

    <div class="col d-flex">
      <p-inputNumber
        [(ngModel)]="filtersList.priceFrom"
        #priceFrom
        inputId="integeronly"
        [min]="1"
        [max]="10000000"
        suffix=" €"
        placeholder="From"
      >
      </p-inputNumber>

      <p-inputNumber
        [(ngModel)]="filtersList.priceTo"
        #priceTo
        class="offset-1"
        inputId="integeronly"
        [min]="1"
        [max]="10000000"
        suffix=" €"
        placeholder="To"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="filter">
    <div class="label">First registration</div>

    <div class="col d-flex">
      <p-inputNumber
        [(ngModel)]="filtersList.yearFrom"
        #yearFrom
        inputId="integeronly"
        [min]="1900"
        [max]="2024"
        placeholder="From"
      >
      </p-inputNumber>

      <p-inputNumber
        [(ngModel)]="filtersList.yearTo"
        #yearTo
        class="offset-1"
        inputId="integeronly"
        [min]="1900"
        [max]="2024"
        placeholder="To"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="filter">
    <div class="label">Mileage</div>

    <div class="col d-flex">
      <p-inputNumber
        [(ngModel)]="filtersList.mileageFrom"
        #mileageFrom
        inputId="integeronly"
        [min]="0"
        [max]="1000000"
        suffix=" km"
        placeholder="From"
      >
      </p-inputNumber>

      <p-inputNumber
        [(ngModel)]="filtersList.mileageTo"
        #mileageTo
        class="offset-1"
        inputId="integeronly"
        [min]="0"
        [max]="1000000"
        suffix=" km"
        placeholder="To"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="filter">
    <div class="label">Fuel type</div>

    <p-multiSelect
      [options]="constantCarsList.FuelTypes"
      [(ngModel)]="filtersList.fuels"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Cubic capacity</div>

    <div class="col d-flex">
      <p-inputNumber
        [(ngModel)]="filtersList.cubicCapacityFrom"
        #cubicCapacityFrom
        inputId="integeronly"
        [min]="1"
        [max]="20000"
        suffix=" (cm&#xB3;)"
        placeholder="From"
      >
      </p-inputNumber>

      <p-inputNumber
        [(ngModel)]="filtersList.cubicCapacityTo"
        #cubicCapacityTo
        class="offset-1"
        inputId="integeronly"
        [min]="1"
        [max]="20000"
        suffix=" (cm&#xB3;)"
        placeholder="To"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="filter">
    <div class="label">Transmission</div>

    <p-multiSelect
      [options]="constantCarsList.TransmissionTypes"
      [(ngModel)]="filtersList.transmissions"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Traction</div>

    <p-multiSelect
      [options]="constantCarsList.TractionTypes"
      [(ngModel)]="filtersList.tractions"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <div class="filter">
    <div class="label">Steering wheel</div>

    <p-multiSelect
      [options]="constantCarsList.SteeringWheels"
      [(ngModel)]="filtersList.wheels"
      optionLabel="label"
      class="col"
      placeholder="Choose"
    >
    </p-multiSelect>
  </div>

  <p-button
    (onClick)="applyFilters()"
    [loading]="applyFiltersLoading"
    class="show-results"
    label="Show results"
  >
  </p-button>

  <p-button
    (onClick)="resetFilters()"
    [loading]="resetFiltersLoading"
    class="reset-filters"
    label="Reset filters"
  >
  </p-button>
</div>
