<div class="d-flex align-items-center mb-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Make
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.MakesArray"
                    [(ngModel)]="carsFilterList.makes"
                    (onChange)="carsFilterList.MakeSelected()"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>
</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Model
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.ModelsByMake"
                    [(ngModel)]="carsFilterList.models"
                    [disabled]="carsFilterList.modelInputDisabled"
                    class="small-component"
                    [group]="true"
                    placeholder="Choose">
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Body type
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.BodyTypes"
                    [(ngModel)]="carsFilterList.bodies"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Price
  </div>

  <div class="col-7">

    <p-inputNumber [(ngModel)]="carsFilterList.priceFrom"
                    class="small-component col-5"
                    inputId="integeronly"
                    [min]="1"
                    [max]="10000000"
                    placeholder="From">
    </p-inputNumber>

    <p-inputNumber [(ngModel)]="carsFilterList.priceTo"
                    class="small-component col-5 align-items-end offset-2"
                    inputId="integeronly"
                    [min]="1"
                    [max]="10000000"
                    placeholder="To">
    </p-inputNumber>

  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    First registration
  </div>

  <div class="col-7">
    <p-inputNumber [(ngModel)]="carsFilterList.yearFrom"
                    class="small-component col-5"
                    inputId="integeronly"
                    [min]="1900"
                    [max]="2024"
                    placeholder="From">
    </p-inputNumber>

    <p-inputNumber [(ngModel)]="carsFilterList.yearTo"
                    class="small-component col-5 align-items-end offset-2"
                    inputId="integeronly"
                    [min]="1900"
                    [max]="2024"
                    placeholder="To">
    </p-inputNumber>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Mileage
  </div>

  <div class="col-7">
    <p-inputNumber [(ngModel)]="carsFilterList.mileageFrom"
                    class="small-component col-5"
                    inputId="integeronly"
                    [min]="0"
                    [max]="1000000"
                    placeholder="From">
    </p-inputNumber>

    <p-inputNumber [(ngModel)]="carsFilterList.mileageTo"
                    class="small-component col-5 align-items-end offset-2"
                    inputId="integeronly"
                    [min]="0"
                    [max]="1000000"
                    placeholder="To">
    </p-inputNumber>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Fuel type
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.FuelTypes"
                    [(ngModel)]="carsFilterList.fuels"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Cubic capacity
  </div>

  <div class="col-7">
    <p-inputNumber [(ngModel)]="carsFilterList.cubicCapacityFrom"
                    class="small-component col-5"
                    inputId="integeronly"
                    [min]="1"
                    [max]="20000"
                    placeholder="From">
    </p-inputNumber>

    <p-inputNumber [(ngModel)]="carsFilterList.cubicCapacityTo"
                    class="small-component col-5 align-items-end offset-2"
                    inputId="integeronly"
                    [min]="1"
                    [max]="20000"
                    placeholder="To">
    </p-inputNumber>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Transmission
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.TransmissionTypes"
                    [(ngModel)]="carsFilterList.transmissions"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>

</div>

<div class="d-flex align-items-center my-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Traction
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.TractionTypes"
                    [(ngModel)]="carsFilterList.tractions"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>

</div>

<div class="d-flex align-items-center mt-2">

  <div class="col d-flex align-items-center fs-6 me-1">
    Steering wheel
  </div>

  <div class="col-7">
    <p-multiSelect [options]="carsFilterList.SteeringWheels"
                    [(ngModel)]="carsFilterList.wheels"
                    optionLabel="label"
                    class="small-component"
                    placeholder="Choose">
    </p-multiSelect>
  </div>

</div>

<p-button (onClick)="filterCars()"
          [loading]="loadingCarsPageBool"
          class="car-filters-button show-results-button"
          label="Show results">
</p-button>

<p-button (onClick)="filterCars()"
          [loading]="loadingCarsPageBool"
          class="car-filters-button reset-filters-button"
          label="Reset filters">
</p-button>
