.contact-bar-component {
  display: flex;
  justify-content: center;
  padding: 7px;

  .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;

    .text {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 1200px) {
  .contact-bar-component {
    display: none;
  }
}
