.register-form-component {
  .upper-buttons {
    display: flex;
    margin-top: 100px;
    margin-bottom: 70px;

    .login .p-button {
      background-color: #1f104a;
    }

    .register .p-button {
      background-color: #ff533d;
    }

    .register-box {
      display: flex;
      justify-content: end;
      margin-left: 20px;
    }
  }

  .p-button {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      opacity: 0.9;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }

  .submit .p-button {
    background-color: #1f104a;
    margin-top: 30px;
  }

  .register-form {
    display: flex;
    flex-direction: column;

    .two-inputs {
      display: flex;
      align-items: center;
      margin-bottom: 26px;

      .input {
        width: 100%;
      }

      .left,
      .right {
        width: 100%;
      }

      .left {
        margin-right: 15px;
      }

      .right {
        margin-left: 15px;
      }
    }
  }

  .p-float-label > .ng-invalid.ng-dirty + label {
    color: #6b7280;
  }

  .p-float-label .input:-webkit-autofill ~ label {
    top: -0.75rem;
  }
}

@media (max-width: 800px) {
  .register-form-component {
    .upper-buttons {
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 30px;

      .register-box {
        margin-top: 10px;
        margin-left: 0;
      }
    }

    .register-form {
      .two-inputs {
        flex-direction: column;
        margin: 0;

        .left,
        .right {
          margin: 0 0 26px 0;
        }
      }
    }
  }
}
