<div class="upper-buttons">
  <a class="login-upper-btn custom-btn"
       href="/login">
    Login
  </a>

  <div class="register-upper-btn custom-btn">
    Register a NEW ACCOUNT
  </div>
</div>

<form [formGroup] ="registerForm">
  <div class="d-flex flex-column">
    <div class="input-row-form">

      <div class="col register-input left-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="firstName" />
          <label> First name </label>
        </span>
      </div>

      <div class="col register-input right-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="lastName" />
          <label> Last name </label>
        </span>
      </div>

    </div>

    <div class="input-row-form">

      <div class="col register-input left-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="email" />
          <label> Email address </label>
        </span>
      </div>

      <div class="col register-input right-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="phoneNumber" />
          <label> Phone number </label>
        </span>
      </div>

    </div>

    <div class="input-row-form">

      <div class="col register-input left-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="password" />
          <label> Password </label>
        </span>
      </div>

      <div class="col register-input right-input">
        <span class="p-float-label">
          <input pInputText
                 formControlName="passwordConfirmation" />
          <label> Confirm password </label>
        </span>
      </div>

    </div>


  </div>
</form>
@if (passwordsMatch == false)
{
  <div class="error-text">
    Passwords don't match!
  </div>
}

@if (emailAlreadyUsed == true)
{
  <div class="error-text">
    This email has already been used!
  </div>
}

<div class="submit-button custom-btn"
     (click)="register()">
  Register
</div>

