.sell-a-car-section {
  display: flex;
  flex-direction: column;
  margin-left: 17vw;
  margin-right: 17vw;
}

.checks {
  display: flex;
  width: 100%;
  justify-content: center;
}

.checked-box {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(31, 16, 74, .13);
  margin: 15px 0 15px 0;
  padding: 15px;
}

.checks > :first-child {
  margin-right: 20px;
}

.checks > :last-child {
  margin-left: 20px;
}

.input-row {
  display: flex;
}

.two-inputs {
  display: flex;
  justify-content: center;
}

.p-inputwrapper {
  width: 100%;
  height: 50px;
}

.p-inputtextarea {
  width: 100%;
  min-height: 100px;
}

.p-dropdown-item {
  padding-left: 8px;
}

.p-dropdown-items {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.p-dropdown-label {
  font-size: 14px;
  font-style: italic;
}

.p-inputnumber-input {
  min-width: 100%;
  height: 50px;
  font-style: italic;
}

.submit-area {
  width: 100%;
  display: flex;
}

.submit-btn {
  display: flex;
  height: 50px;
  width: 50%;
  min-height: 50px;
  max-height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #ff533d;
  color: white;
}

.submit-btn:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.footer {
  height: 50px;
}

/* media queries */
@media (min-width: 2200px) {
  .sell-a-car-section {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media (max-width: 1700px) {
  .sell-a-car-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (max-width: 1400px) {
  .checks, .two-inputs {
    flex-direction: column;
  }

  .checks > :first-child {
    margin-right: 0;
  }

  .checks > :last-child {
    margin-left: 0;
  }

  .two-inputs {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .input-row {
    flex-direction: column;
  }

  .sell-a-car-section {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media (max-width: 700px) {
  .sell-a-car-section {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
