<div id="sell-a-car-section"
     class="sell-a-car-section">
  <div class="h3 mx-auto mt-5 mb-4">
    Best offers for the following cars:
  </div>

  <div class="checks mb-5 px-3">
    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        Maximum age: 10 years
      </div>
    </div>

    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        Maximum mileage: 150.000 miles
      </div>
    </div>

    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        No major damages in the past
      </div>
    </div>
  </div>

  <div class="h2 mx-auto mt-5 mb-2 px-3 fw-bold">
    Complete the following long-distance form:
  </div>

  <div class="input-row mt-3">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Make
        </div>

        <p-dropdown [options]="Makes"
                    [(ngModel)]="make"
                    placeholder="Choose"
                    [class.ng-invalid]="makeEmpty"
                    [class.ng-dirty]="makeEmpty"
                    (ngModelChange)="onMakeSelected()">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Model
        </div>

        <p-dropdown [options]="Models"
                    [(ngModel)]="model"
                    [class.ng-invalid]="modelEmpty"
                    [class.ng-dirty]="modelEmpty"
                    placeholder="Choose"
                    (ngModelChange)="onModelSelected()">
        </p-dropdown>
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          First registration
        </div>

        <p-dropdown [options]="Years"
                    [(ngModel)]="year"
                    [class.ng-invalid]="yearEmpty"
                    [class.ng-dirty]="yearEmpty"
                    placeholder="Choose"
                    (ngModelChange)="onYearSelected()">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Mileage
        </div>

        <p-inputNumber inputId="integeronly"
                       [(ngModel)]="mileage"
                       [min]="1"
                       [max]="10000000"
                       [class.ng-invalid]="mileageEmpty"
                       [class.ng-dirty]="mileageEmpty"
                       placeholder="Mileage (km)"
                       (ngModelChange)="onMileageUpdated()">
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-100 px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Car description
    </div>

    <form [formGroup]="formGroup">
      <textarea [autoResize]="true"
                pInputTextarea
                (ngModelChange)="onTextAreaCompleted()"
                formControlName="textAreaValue"></textarea>
    </form>
    

  </div>

  <div class="input-row">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Fuel type
        </div>

        <p-dropdown [options]="Fuels"
                    [(ngModel)]="fuel"
                    [class.ng-invalid]="fuelEmpty"
                    [class.ng-dirty]="fuelEmpty"
                    placeholder="Choose"
                    (ngModelChange)="onFuelSelected()">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Cubic capacity
        </div>

        <p-inputNumber inputId="integeronly"
                       [(ngModel)]="cubicCapacity"
                       [min]="1"
                       [max]="30000"
                       [class.ng-invalid]="cubicCapacityEmpty"
                       [class.ng-dirty]="cubicCapacityEmpty"
                       placeholder="Cubic capacity (cm&#xB3;)"
                       (ngModelChange)="onCubicCapacityUpdated()">
        </p-inputNumber>
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Power
        </div>

        <p-inputNumber inputId="integeronly"
                       [(ngModel)]="power"
                       [min]="1"
                       [max]="3000"
                       [class.ng-invalid]="powerEmpty"
                       [class.ng-dirty]="powerEmpty"
                       placeholder="Power (hp)"
                       (ngModelChange)="onPowerUpdated()">
        </p-inputNumber>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Transmission
        </div>

        <p-dropdown [options]="Transmissions"
                    [(ngModel)]="transmission"
                    [class.ng-invalid]="transmissionEmpty"
                    [class.ng-dirty]="transmissionEmpty"
                    placeholder="Choose"
                    (ngModelChange)="onTransmissionSelected()">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="input-row">
    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Traction
      </div>

      <p-dropdown [options]="Tractions"
                  [(ngModel)]="traction"
                  [class.ng-invalid]="tractionEmpty"
                  [class.ng-dirty]="tractionEmpty"
                  placeholder="Choose"
                  (ngModelChange)="onTractionSelected()">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Body type
      </div>

      <p-dropdown [options]="Bodies"
                  [(ngModel)]="body"
                  [class.ng-invalid]="bodyEmpty"
                  [class.ng-dirty]="bodyEmpty"
                  placeholder="Choose"
                  (ngModelChange)="onBodySelected()">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Steering wheel
      </div>

      <p-dropdown [options]="Wheels"
                  [(ngModel)]="wheel"
                  [class.ng-invalid]="wheelEmpty"
                  [class.ng-dirty]="wheelEmpty"
                  placeholder="Choose"
                  (ngModelChange)="onWheelSelected()">
      </p-dropdown>
    </div>
  </div>

  <div class="px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Upload photos
    </div>

    <p-fileUpload name="file"
                  [customUpload]="true"
                  [auto]="true"
                  [multiple]="true"
                  accept="image/*"
                  (onUpload)="onPhotoUploaded($event)">
    </p-fileUpload>
  </div>

  <div class="w-100 d-flex flex-column justify-content-center px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Finally, set the desired price!
    </div>

    <p-inputNumber inputId="integeronly"
                   [(ngModel)]="price"
                   [min]="1"
                   [max]="10000000"
                   [class.ng-invalid]="priceEmpty"
                   [class.ng-dirty]="priceEmpty"
                   placeholder="Price (€)"
                   (ngModelChange)="onPriceUpdated()">
    </p-inputNumber>
  </div>

  <div class="w-100 d-flex justify-content-center mt-2 mb-5">
    <div class="submit-btn"
         (click)="submitPost()">
      Submit
    </div>
  </div>

  <div class="mt-5 mb-1 px-3">
    * Your post will be revised in maximum 48 hours by one of our employees. Please be patient!
  </div>

  <div class="my-1 px-3">
    ** AndyAUTO reserves the right to decide which posts will be accepted.
  </div>

  <div class="mt-1 mb-5 px-3">
    *** The payment of the car is made only after receiving the documents certifying the fiscal cancellation of the car.
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="h3 mt-5 mb-3">
      Included services:
    </div>
  </div>

  <div class="checks mb-3 px-3">
    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        Quick and safe sale
      </div>
    </div>

    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        Buy-Back & Trade-In
      </div>
    </div>

    <div class="checked-box col">
      <svg width="25" height="25"
           fill="#ff533d"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
      </svg>

      <div class="mb-0 ms-2 d-flex align-center">
        Test drive
      </div>
    </div>
  </div>
</div>
