<div class="account-manage-users-list-component">
  <div class="users-number">Users found: {{ users.length }}</div>

  <div class="table-columns">
    <div class="col-1"></div>
    <div class="col">Name</div>
    <div class="col">Role</div>
    <div class="col">Location</div>
    <div class="col">Action</div>
  </div>

  @for (userForm of usersForms; track userForm) {
    <p-accordion class="user-box">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="icon">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </div>
      
          <div class="col name">
            {{ users[$index].lastName }} {{ users[$index].firstName }}
          </div>
        </ng-template>

        <div class="details">
          <div class="labels">
            <div class="role">
              Role: {{ users[$index].role }}
            </div>
            
            <div class="location">
              Location: {{ users[$index].role }}
            </div>
          </div>

          <div class="actions">
            <div class="role dropdown">
              <p-dropdown
              [options]="[]"
              placeholder="Choose"
              ></p-dropdown>
            </div>
            
            <div class="location dropdown">
              <p-dropdown
              [options]="[]"
              placeholder="Choose"
              ></p-dropdown>
            </div>
            
            <div class="save-btn">
              <p-button
              [disabled]="true"
              [loading]="changeRoleLoading"
              label="Save"
              >
            </p-button>
          </div>
        </div>
        </div>
      </p-accordionTab>
    </p-accordion>

  }
</div>
