<div class="account-manage-users-list-component">
  <div class="users-number">Users found: {{ users.length }}</div>

  <div class="table-columns">
    <div class="col-1"></div>
    <div class="col">Name</div>
    <div class="col">Role</div>
    <div class="col">Location</div>
    <div class="col">Action</div>
  </div>

  @for (userForm of usersForms; track userForm) {
  <form [formGroup]="userForm" class="user-box">
    <div class="icon">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </div>

    <div class="col-2 name">
      {{ users[$index].lastName }} {{ users[$index].firstName }}
    </div>

    <div class="col location">
      <p-dropdown
        [options]="[users[$index].role === 'User' ? 'Admin' : 'User']"
        formControlName="role"
        optinValue="value"
        optinLabel="label"
        (onChange)="onRoleSelected($index)"
        placeholder="{{ users[$index].role }}"
      ></p-dropdown>
    </div>

    <div class="col location">
      <p-dropdown
        [options]="locations"
        formControlName="location"
        (onChange)="onRoleSelected($index)"
        placeholder="{{
          users[$index].locationAddress != null
            ? users[$index].locationAddress
            : 'Choose'
        }}"
      ></p-dropdown>
    </div>

    <div class="col-2 save">
      <p-button
        (onClick)="changeRole(users[$index].id!, users[$index].role!)"
        [disabled]="true"
        [loading]="changeRoleLoading"
        label="Save"
      >
      </p-button>
    </div>
  </form>
  }
</div>
