.buy-a-car {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
}

.left-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0;
  height: calc(100vh - 40px);
}

.right-section {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: auto;
}

.search-car-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter-text-list {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.filter-select-list {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.filter-text {
  height: 53px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 22px;
  font-size: 18px;
}

.filter-select {
  padding-left: 0px;
  padding-bottom: 0px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.checked {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check-box {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.number-sort {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}

.cars-number {
  padding-left: 5vw;
}

.cars-sort {
  justify-content: end;
}

.mat-mdc-text-field-wrapper {
  height: 100px !important;
}
