<div class="full-box">

  <img mat-card-image src="./assets/Images/Audi.png" class="image">

  <div class="car-information">

    <div class="car-name-and-price">

      <div class="make-and-model">
        Audi A4
      </div>

      <div class="price">
        22 999€
      </div>

    </div>

    <div more-car-info>

      <div class="used-car-text">
        Used car
      </div>

      <div class="post-time">
        Today 09:53
      </div>

      <div class="year-and-mileage">

        <mat-icon class="calendar-icon"> calendar_today </mat-icon>
        2019

        <mat-icon class="mileage-icon"> speed </mat-icon>
        193 082 km
      </div>

    </div>

  </div>

</div>
