<div class="full-box d-flex mb-3 p-2">

  <div class="card col-4">
    <img src="./assets/Images/Audi.png" class="card-img-top">
  </div>

  <div class="col-8 d-flex flex-column">

    <div class="car-name-and-price d-flex">

      <div class="make-and-model">
        Audi A4
      </div>

      <div class="price ml-auto">
        22 999€
      </div>

    </div>

    <div more-car-info d-flex flex-column>

      <div class="used-car-text row-4 my-2">
        Used car
      </div>

      <div class="post-time row-4 my-2">
        Today 09:53
      </div>

      <div class="year-and-mileage d-flex row-4 my-2">

        <mat-icon class="calendar-icon"> calendar_today </mat-icon>
        2019

        <mat-icon class="mileage-icon ml-2"> speed </mat-icon>
        193 082 km
      </div>

    </div>


  </div>

</div>
