<div class="full-car-box-wide d-flex mb-3 p-2">

  <div class="border-0 card">
    <img src="./assets/Images/Audi.png"
         class="card-img-top
                rounded-3
                h-100">
  </div>

  <div class="col container h-50">
    <div class="car-name-and-price d-flex h-100">
      <div class="h4 text-primary">
        Audi A4
      </div>

      <div class="h4 ml-auto">
        22 999€
      </div>
    </div>

    <div class="h-100 d-flex flex-column">

      <div class="my-1">
        Used car
      </div>

      <div class="my-1">
        Today 09:53
      </div>

      <div class="d-flex my-1">

        <mat-icon class="calendar-icon"> calendar_today </mat-icon>
        2019

        <mat-icon class="mileage-icon ml-2"> speed </mat-icon>
        193 082 Km
      </div>

    </div>
  </div>
</div>

<div class="full-car-box-tight d-flex flex-column mb-3 p-2">

  <div class="border-0 card row-4 pb-1">
    <img src="./assets/Images/Audi.png"
         class="rounded-3
                card-img-top
                w-100
                mb-3">
  </div>

  <div class="row-8 d-flex flex-column my-auto">

    <div class="car-name-and-price d-flex">

      <div class="make-and-model">
        Audi A4
      </div>

      <div class="price ml-auto">
        22 999€
      </div>

    </div>

    <div more-car-info d-flex flex-column>

      <div class="used-car-text row-4 my-2">
        Used car
      </div>

      <div class="post-time row-4 my-2">
        Today 09:53
      </div>

      <div class="year-and-mileage d-flex row-4 my-2">

        <mat-icon class="calendar-icon"> calendar_today </mat-icon>
        2019

        <mat-icon class="mileage-icon ml-2"> speed </mat-icon>
        193 082 km
      </div>

    </div>


  </div>

</div>

