.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 75%;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #ff533d;
  color: white;
  text-decoration: none;
}

.back-button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
