<div class="home-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="dealer-details">
      <div class="title">Dealer Auto</div>

      <div
        class="description"
        [innerHTML]="homeConstants.dealerDescription"
      ></div>
    </div>

    <div class="car-categories">
      <div
        (click)="onStateChanged('New cars')"
        class="col category"
        [class.selected]="homeConstants.carState === 'New cars'"
      >
        <div class="text">New cars</div>
      </div>

      <div
        (click)="onStateChanged('Used cars')"
        class="col category"
        [class.selected]="homeConstants.carState === 'Used cars'"
      >
        <div class="text">Used cars</div>
      </div>
    </div>

    <div class="category-details">
      <img [src]="homeConstants.photoURL" class="image" alt="car-image" />

      <div class="title">
        {{ homeConstants.carState }}
      </div>

      <div class="description">
        <div class="" [innerHTML]="homeConstants.stateDescription"></div>
      </div>
    </div>

    <div class="facility">
      <img src="./assets/Images/volan.jpg" class="image left" alt="img" />

      <div class="about-facility">
        <div class="title">Test Drive</div>

        <div class="description">
          {{ homeConstants.testDriveDescription }}
        </div>
      </div>
    </div>

    <div class="facility">
      <div class="about-facility">
        <div class="title">Leasing auto</div>

        <div class="description">
          {{ homeConstants.leasingDescription }}
        </div>
      </div>

      <img src="./assets/Images/leasing.jpg" class="image right" alt="img" />
    </div>
  </div>

  <app-footer></app-footer>
</div>
