.home-content {
  margin: 75px 10vw 0px 10vw;
}

.home-content-description {
  color: gray;
}

.home-car-states {
  display: flex;
  height: 50px;
}

.home-car-state {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid lightgray;
}

.home-car-state-selected {
  border-bottom-color: #1f104a;
}

.home-car-state-box {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.home-car-state-box-text {
  border: 1px solid lightgray;
  border-bottom-left-radius: calc(0.375rem - 1px);
  border-bottom-right-radius: calc(0.375rem - 1px);
  padding: 15px;
}

.home-text-gray {
  color: gray;
}

.home-text-blue {
  color: #1f104a;
}

.home-info-line-text {
  border: 1px solid lightgray;
  padding: 15px;
  background-color: white;
}

.home-info-line-photo {
  width: 600px;
  height: 300px;
}

.home-info-line-text-right {
  border-top-left-radius: calc(0.375rem - 1px);
  border-bottom-left-radius: calc(0.375rem - 1px);
}

.home-info-line-photo-right {
  border-top-right-radius: calc(0.375rem - 1px);
  border-bottom-right-radius: calc(0.375rem - 1px);
}

.home-info-line-text-left {
  border-top-right-radius: calc(0.375rem - 1px);
  border-bottom-right-radius: calc(0.375rem - 1px);
}

.home-info-line-photo-left {
  border-top-left-radius: calc(0.375rem - 1px);
  border-bottom-left-radius: calc(0.375rem - 1px);
}

/* media queries */
@media (min-width: 2000px) {
  .home-content {
    margin-left: 17vw;
    margin-right: 17vw;
  }
}

@media (max-width: 1500px) {
  .home-info-line-photo {
    display: none;
  }

  .home-info-line-text {
  }

  .home-info-line-text {
    border-radius: calc(0.375rem - 1px);
  }
}

