<div class="account-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="tabs-expanded">
      <div class="header">
        <div class="icon-box">
          <fa-icon [icon]="['fas', 'bars']" class="icon selected"></fa-icon>
        </div>
        <div class="col label">My account</div>
      </div>

      @for (tab of tabs.userTabs; track tab) {
      <p-button
        (onClick)="switchTab($index)"
        [loading]="tab.loading"
        [class.selected]="selectedTab == tab.name"
      >
        <div class="tab">
          <div class="icon-box">
            <fa-icon
              [icon]="['fas', tab.icon]"
              class="icon"
              [class.selected]="selectedTab == tab.name"
            ></fa-icon>
          </div>
          <div class="col label">{{ tab.label }}</div>
        </div>
      </p-button>

      } @if (isEmployee()) {
      <div class="header manage">
        <div class="icon-box">
          <fa-icon [icon]="['fas', 'bars']" class="icon selected"></fa-icon>
        </div>
        <div class="col label">Manage</div>
      </div>

      @for (tab of tabs.employeeTabs; track tab) {
      <p-button
        (onClick)="switchTab($index + tabs.userTabs.length)"
        [loading]="tab.loading"
        [class.selected]="selectedTab == tab.name"
      >
        <div class="tab">
          <div class="icon-box">
            <fa-icon
              [icon]="['fas', tab.icon]"
              class="icon"
              [class.selected]="selectedTab == tab.name"
            ></fa-icon>
          </div>
          <div class="col label">{{ tab.label }}</div>
        </div>
      </p-button>

      } }

      <p-button (onClick)="logout()" [loading]="loadingLogout" class="logout">
        <div class="tab">
          <div class="icon-box">
            <fa-icon [icon]="['fas', 'power-off']" class="icon"></fa-icon>
          </div>
          <div class="col label">Logout</div>
        </div>
      </p-button>
    </div>

    <div class="col">
      @switch (selectedTab) { @case ("personal-information") {
      <app-account-personal-information></app-account-personal-information>
      } @case ("my-cars") {
      <app-account-my-cars></app-account-my-cars>
      } @case ("favourite-cars") {
      <app-account-favourite-cars></app-account-favourite-cars>
      } @case ("users-list") {
      <app-account-manage-users-list></app-account-manage-users-list>
      } @case ("unverified-cars-list") {
      <app-account-manage-unverified-cars-list></app-account-manage-unverified-cars-list>
      } @case ("locations") {
      <app-account-manage-locations></app-account-manage-locations>
      } }
    </div>
  </div>

  <app-footer></app-footer>
</div>
