<div class="account-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="tabs-expanded">
      <div class="header">
        <div class="icon-box">
          <fa-icon [icon]="['fas', 'bars']" class="icon selected"></fa-icon>
        </div>
        <div class="col label">My account</div>
      </div>

      <p-button
        (onClick)="switchTab('personal-information')"
        [loading]="loadingPersonalInformation"
        [class.selected]="selectedTab == 'personal-information'"
      >
        <div class="tab">
          <div class="icon-box">
            <fa-icon
              [icon]="['fas', 'user']"
              class="icon"
              [class.selected]="selectedTab == 'personal-information'"
            ></fa-icon>
          </div>
          <div class="col label">My cars</div>
        </div>
      </p-button>

      <p-button
        (onClick)="switchTab('my-cars')"
        [loading]="loadingMyCars"
        [class.selected]="selectedTab == 'my-cars'"
      >
        <div class="tab">
          <div class="icon-box">
            <fa-icon
              [icon]="['fas', 'car']"
              class="icon"
              [class.selected]="selectedTab == 'my-cars'"
            ></fa-icon>
          </div>
          <div class="col label">Personal information</div>
        </div>
      </p-button>

      <p-button
        (onClick)="switchTab('favourite-cars')"
        [loading]="loadingFavouriteCars"
        [class.selected]="selectedTab == 'favourite-cars'"
      >
        <div class="tab">
          <div class="icon-box">
            <fa-icon
              [icon]="['fas', 'heart']"
              class="icon"
              [class.selected]="selectedTab == 'favourite-cars'"
            ></fa-icon>
          </div>
          <div class="col label">Favourite cars</div>
        </div>
      </p-button>

      <p-button (onClick)="logout()" [loading]="loadingLogout" class="logout">
        <div class="tab">
          <div class="icon-box">
            <fa-icon [icon]="['fas', 'power-off']" class="icon"></fa-icon>
          </div>
          <div class="col label">Logout</div>
        </div>
      </p-button>
    </div>

    <div class="col">
      @switch (selectedTab) { @case ("personal-information") {
      <app-account-personal-information></app-account-personal-information>
      } @case ("my-cars") {
      <app-account-my-cars></app-account-my-cars>
      } @case ("favourite-cars") {
      <app-account-favourite-cars></app-account-favourite-cars>
      } }
    </div>
  </div>

  <app-footer></app-footer>
</div>
