<div class="buy-a-car-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="left">
      <div class="text">Search for a car</div>

      <app-car-filters></app-car-filters>
    </div>

    <div class="col right">
      <div class="checks">
        <div class="check-box">
          <fa-icon [icon]="['fas', 'check']" class="icon"></fa-icon>

          <div class="text">Test drive</div>
        </div>

        <div class="check-box">
          <fa-icon [icon]="['fas', 'check']" class="icon"></fa-icon>

          <div class="text">Free return within 7 days</div>
        </div>

        <div class="check-box">
          <fa-icon [icon]="['fas', 'check']" class="icon"></fa-icon>

          <div class="text">24 months guarantee</div>
        </div>
      </div>

      <div class="cars-number-and-sort">
        <div class="col text">Cars - {{ filteredCarsNumber }}</div>

        <div class="col sort">
          <div class="text">Sort by:</div>

          <p-dropdown
            [(ngModel)]="selectedSort"
            (onChange)="sortMethodSelected()"
            [options]="sort_types"
            optionLabel="label"
            placeholder="Choose"
          >
          </p-dropdown>
        </div>
      </div>

      <app-car-list></app-car-list>

      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
        class="paginator"
      >
      </mat-paginator>
    </div>
  </div>

  <app-footer></app-footer>
</div>
