<div class="login-page">
  <div class="content-and-image">
    <div class="col-9 content">
      <div class="d-flex">
        <div class="col d-flex">
          <div routerLink="/" class="brand">
            <img src="./assets/Images/BMW.png" class="logo" />

            <div class="d-flex flex-column fs-5">
              <div>ANDY</div>
              <div>AUTO</div>
            </div>
          </div>
        </div>

        <div class="col home-icon">
          <fa-icon
            routerLink="/"
            [icon]="['fas', 'house']"
            class="icon"
          ></fa-icon>
        </div>
      </div>

      @if (getURL() == '/account/login') {
      <app-login-form></app-login-form>
      } @else {
      <app-register-form></app-register-form>
      }
    </div>

    <img src="./assets/Images/Login.png" class="image col" alt="login-image" />
  </div>
</div>
