.account-personal-information-component {
  .tab-label {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .input-label {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .input {
    width: 100%;
  }

  .p-button {
    width: 50%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-top: 25px;
  }

  .save .p-button {
    background-color: #1f104a;
  }

  .delete .p-button {
    background-color: #ff533d;
  }

  .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  .account-details .name-inputs {
    display: flex;

    .last-name {
      margin-right: 10px;
      width: 100%;
    }

    .first-name {
      margin-left: 10px;
      width: 100%;
    }
  }
}
