<div class="account-personal-information-component">
  <form [formGroup]="userDetailsForm" class="account-details tab">
    <div class="tab-label">Account details</div>

    <div class="name-inputs mb-4">
      <div class="last-name">
        <div class="input-label">Last name*</div>
        <input formControlName="lastName" class="input fw-bold" pInputText />
      </div>

      <div class="first-name">
        <div class="input-label">First name *</div>
        <input formControlName="firstName" class="input fw-bold" pInputText />
      </div>
    </div>

    <div class="input-label">Address</div>
    <input formControlName="address" class="input fw-bold" pInputText />

    <p-button
      (onClick)="submitAccountDetails()"
      [loading]="accountDetailsLoading"
      class="save"
      label="Save"
    >
    </p-button>
  </form>

  <form [formGroup]="changeEmailForm" class="tab">
    <div class="tab-label">Change email</div>

    <div class="input-label">New email</div>
    <input
      formControlName="newEmail"
      class="input mb-4"
      placeholder="email@example.com"
      pInputText
    />

    <div class="input-label">Re-enter new email</div>
    <input
      formControlName="newEmailVerification"
      class="input"
      placeholder="email@example.com"
      pInputText
    />

    <p-button
      (onClick)="submitChangeEmail()"
      [loading]="changeEmailLoading"
      class="save"
      label="Save"
    >
    </p-button>
  </form>

  <form [formGroup]="changePhoneForm" class="tab">
    <div class="tab-label">Change phone number</div>

    <div class="input-label">New phone number</div>
    <input
      formControlName="newPhone"
      class="input mb-4"
      placeholder="07xx xxx xxx"
      pInputText
    />

    <div class="input-label">Re-enter new phone number</div>
    <input
      formControlName="newPhoneVerification"
      class="input"
      placeholder="07xx xxx xxx"
      pInputText
    />

    <p-button
      (onClick)="submitChangePhone()"
      [loading]="changePhoneLoading"
      class="save"
      label="Save"
    >
    </p-button>
  </form>

  <div class="tab">
    <div class="tab-label mb-0">Delete account</div>

    <p-button
      (onClick)="deleteAccount()"
      [loading]="deleteAccountLoading"
      class="delete"
      label="Delete"
    >
    </p-button>
  </div>
</div>
