html, body {
  height: 100%;
}

body {
  background-color: #f8f9fa !important;
  color: #1f104a !important;
  margin: 0;
  font-size: 18px !important;
  font-family: Arial, sans-serif !important;
}

.text-color {
  color: #1f104a !important;
}
