<mat-toolbar>

  <mat-toolbar-row class="container justify-content-center contact-toolbar">

    <div class="information">

      <mat-icon class="mx-2"> phone </mat-icon>
      0771.398.255

    </div>

    <div class="information">

      <mat-icon class="mx-2"> email </mat-icon>
      AndyAUTO&#64;x-land.ro

    </div>

    <div class="information">

      <mat-icon class="mx-2"> watch_later </mat-icon>
      M-F: 08:00 - 20:00

    </div>

  </mat-toolbar-row>

  <mat-toolbar-row class="navigation-bar">

    <a class="title" href="/">

      <img mat-card-sm-image src="./assets/Images/BMW.png" class="title-photo mr-4">

      <div class="d-flex flex-column title-text">

        <div class="row"> ANDY </div>
        <div class="row"> AUTO </div>

      </div>

    </a>

    <div class="container flex-column menu">

      <div class="page">
        <div (click)="scrollDown()"> Buy a car </div>
      </div>

      <div class="page">
        <a> Sell a car </a>
      </div>

      <div class="page">
        <a> Rent a car </a>
      </div>

      <div class="page">
        <a> Service </a>
      </div>

      <div class="page">
        <a> Locations </a>
      </div>

      <div class="page">
        <a routerLink="/account"> Account </a>
      </div>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
