* {
  color: darkblue;
}

a:hover {
  color: darkblue;
}

.contact-toolbar{
  height: 30px;
}

.navigation-bar {
  background-color: greenyellow;
  height: 50px;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 18px;
}

.title {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-left: 10vw;
}

.title-photo {
  width: 30px;
  height: 30px;
}

.title-text {
  font-size: 18px;
  text-decoration: none;
}

.menu {
  margin-left: auto;
  margin-right: 10vw;
}

.page {
  margin-left: 5.7vw;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .contact-toolbar {
      display: none;
    }
}

.navbar {
  background-color: greenyellow;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 10vw;
}

.nav-item {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2.5vw;
}

.navbar-toggler-icon {
  color: red;
}
