<mat-toolbar>
  <mat-toolbar-row class="contact-toolbar">
    <div class="information">
      <mat-icon> phone </mat-icon>
      0771.398.255
    </div>

    <div class="information">
      <mat-icon> email </mat-icon>
      AndyAUTO&#64;x-land.ro
    </div>

    <div class="information">
      <mat-icon> watch_later </mat-icon>
      M-F: 08:00 - 20:00
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="navigation-bar">
    <a class="title" href="/">
      <img mat-card-sm-image src="./assets/Images/BMW.png" class="title-photo">
      <div class="title-text">
        <div> ANDY </div>
        <div> AUTO </div>
      </div>
    </a>

    <div class="menu">
      <div class="page">
        <div (click)="scrollDown()"> Buy a car </div>
      </div>

      <div class="page">
        <a> Sell a car </a>
      </div>

      <div class="page">
        <a> Rent a car </a>
      </div>

      <div class="page">
        <a> Service </a>
      </div>

      <div class="page">
        <a> Locations </a>
      </div>

      <div class="page">
        <a routerLink="/account"> Account </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
