* {
  color: darkblue;
}

.contact-toolbar{
  height: 30px;
}

.navigation-bar {
  background-color: greenyellow;
  height: 50px;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 18px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10vw;
  font-weight: bold;
}

.title-photo {
  width: 30px;
  height: 30px;
}

.title-text {
  font-size: 18px;
}

.title-text div:first-child {
  margin-bottom: -5px;
}

.title-text div:last-child {
  margin-top: -5px;
}

.menu {
  margin-left: auto;
  margin-right: 10vw;
}

.page {
  margin-left: 5.7vw;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .contact-toolbar {
      display: none;
    }
}
