<div class="sell-a-car-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="row-of-checks">
      <div class="title"> {{ constants.checksCategory1.title }} </div>
      
      <div class="checks">
        @for (check of constants.checksCategory1.checks; track check) {
          <div class="col check-box">
            <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
            <div class="requirement"> {{ check }} </div>
          </div>
        }
        </div>
    </div>

    <div class="header">Complete the following long-distance form:</div>

    <app-sell-a-car-form></app-sell-a-car-form>

    @for (textLine of constants.afterSubmitDetails; track textLine) {
      <div class="submit-info">
        {{ textLine }}
      </div>
    }

    <div class="row-of-checks">
      <div class="title"> {{ constants.checksCategory2.title }} </div>
      
      <div class="checks">
        @for (check of constants.checksCategory2.checks; track check) {
          <div class="col check-box">
            <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
            <div class="requirement"> {{ check }} </div>
          </div>
        }
        </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
