.sell-a-car-section {
  display: flex;
  flex-direction: column;
  margin-left: 17vw;
  margin-right: 17vw;
}

.checks {
  display: flex;
  width: 100%;
  justify-content: center;
}

.checked-box {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(31, 16, 74, .13);
  margin: 15px 0 15px 0;
  padding: 15px;
}

.checks > :first-child {
  margin-right: 20px;
}

.checks > :last-child {
  margin-left: 20px;
}

/* media queries */
@media (min-width: 2200px) {
  .sell-a-car-section {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media (max-width: 1700px) {
  .sell-a-car-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (max-width: 1400px) {
  .checks, .two-inputs {
    flex-direction: column;
  }

  .checks > :first-child {
    margin-right: 0;
  }

  .checks > :last-child {
    margin-left: 0;
  }

  .two-inputs {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .input-row {
    flex-direction: column;
  }

  .sell-a-car-section {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media (max-width: 700px) {
  .sell-a-car-section {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
