<div class="sell-a-car-page">
  <app-contact-bar></app-contact-bar>

  <app-navigation-bar></app-navigation-bar>

  <div class="content">
    <div class="row-of-checks">
      <div class="title">Best offers for the following cars:</div>

      <div class="checks">
        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">Maximum age: 10 years</div>
        </div>

        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">Maximum mileage: 150.000 miles</div>
        </div>

        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">No major damages in the past</div>
        </div>
      </div>
    </div>

    <div class="header">Complete the following long-distance form:</div>

    <app-sell-a-car-form></app-sell-a-car-form>

    <div class="submit-info">
      * Your post will be revised in maximum 48 hours by one of our employees.
      Please be patient!
    </div>

    <div class="submit-info">
      ** AndyAUTO reserves the right to decide which posts will be accepted.
    </div>

    <div class="submit-info">
      *** The payment of the car is made only after receiving the documents
      certifying the fiscal cancellation of the car.
    </div>

    <div class="row-of-checks">
      <div class="title">Included services:</div>

      <div class="checks">
        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">Quick and safe sale</div>
        </div>

        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">Buy-Back & Trade-In</div>
        </div>

        <div class="col check-box">
          <fa-icon [icon]="['fas', 'circle-check']" class="icon"></fa-icon>
          <div class="requirement">Test drive</div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
