.sell-a-car-page {
  .content {
    display: flex;
    flex-direction: column;
    margin-left: 17vw;
    margin-right: 17vw;

    .row-of-checks {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      padding: 15px;

      .title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .checks {
        display: flex;
        width: 100%;

        .check-box {
          display: flex;
          align-items: center;
          background-color: white;
          border-radius: 5px;
          padding: 15px;
          box-shadow: 0 5px 20px 0 rgba(31, 16, 74, 0.13);

          .icon {
            color: #ff533d;
            font-size: 25px;
            margin-right: 10px;
          }

          .requirement {
            font-size: 18px;
          }
        }

        & > :first-child {
          margin-right: 20px;
        }

        & > :last-child {
          margin-left: 20px;
        }
      }
    }

    .header {
      display: flex;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      padding: 10px;
      margin-top: 40px;
    }

    .submit-info {
      font-size: 20px;
      padding: 3px 15px 3px 15px;
    }
  }
}

@media (min-width: 2200px) {
  .sell-a-car-page {
    .content {
      margin-left: 25vw;
      margin-right: 25vw;
    }
  }
}

@media (max-width: 1700px) {
  .sell-a-car-page {
    .content {
      margin-left: 10vw;
      margin-right: 10vw;
    }
  }
}
