<form [formGroup]="sellForm">
  <div class="input-row mt-3">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Make
        </div>

        <p-dropdown formControlName="make"
                    [options]="carsList.Makes"
                    (onChange)="makeSelected()"
                    placeholder="Choose">
        </p-dropdown>
      </div>
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Model
        </div>

        <p-dropdown formControlName="model"
                    [options]="carsList.Models"
                    placeholder="Choose">
        </p-dropdown>
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          First registration
        </div>

        <p-dropdown formControlName="year"
                    [options]="carsList.Years"
                    placeholder="Choose">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Mileage
        </div>

        <input formControlName="mileage"
               pInputText
               placeholder="Mileage (km)" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-100 px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Car description
    </div>

    <textarea formControlName="description"
              pInputTextarea
              [autoResize]="true"></textarea>
  </div>

  <div class="input-row">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Fuel type
        </div>

        <p-dropdown formControlName="fuel"
                    [options]="carsList.Fuels"
                    placeholder="Choose">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Cubic capacity
        </div>

        <input formControlName="cubicCapacity"
               pInputText
               placeholder="Cubic capacity (cm&#xB3;)" />
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Power
        </div>

        <input formControlName="power"
               pInputText
               placeholder="Power (hp)" />
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Transmission
        </div>

        <p-dropdown formControlName="transmission"
                    [options]="carsList.Transmissions"
                    placeholder="Choose">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="input-row">
    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Traction
      </div>

      <p-dropdown formControlName="traction"
                  [options]="carsList.Tractions"
                  placeholder="Choose">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Body type
      </div>

      <p-dropdown formControlName="body"
                  [options]="carsList.Bodies"
                  placeholder="Choose">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Steering wheel
      </div>

      <p-dropdown formControlName="wheel"
                  [options]="carsList.Wheels"
                  placeholder="Choose">
      </p-dropdown>
    </div>
  </div>

  <div class="px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Upload photos
    </div>

    <div [class.photos-box]="imagesEmpty">
      <p-fileUpload [customUpload]="true"
                    [auto]="true"
                    [multiple]="true"
                    accept="image/*"
                    (onSelect)="onImageSelected($event)"
                    (onRemove)="onImageRemoved($event)">
      </p-fileUpload>
    </div>

  </div>

  <div class="w-100 d-flex flex-column justify-content-center px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Finally, set the desired price!
    </div>

    <input formControlName="price"
           pInputText
           placeholder="Price (€)" />
  </div>
</form>

<div class="w-100 d-flex justify-content-center mt-2 mb-5">
  <div class="submit-btn"
       (click)="submit()">
    Submit
  </div>
</div>
