<div class="sell-a-car-form-component">
  <form [formGroup]="sellForm" class="sell-a-car-form">
    <div class="input-row">
      <div class="col input">
        <div class="input-label">Make</div>
        <p-dropdown
          formControlName="make"
          [options]="carsList.MakesArray"
          (onChange)="onMakeSelected()"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>

      <div class="col input mx-3">
        <div class="input-label">Model</div>
        <p-dropdown
          formControlName="model"
          [options]="carsList.ModelsForOneMake"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>

      <div class="col input">
        <div class="input-label">First registration</div>
        <input
          formControlName="year"
          placeholder="Production year"
          pInputText
        />
      </div>

      <div class="col input ms-3">
        <div class="input-label">Mileage</div>
        <input
          formControlName="mileage"
          placeholder="Mileage (km)"
          pInputText
        />
      </div>
    </div>

    <div class="input">
      <div class="input-label">Car description</div>

      <textarea
        formControlName="description"
        pInputTextarea
        placeholder="Describe your car "
        [autoResize]="true"
      ></textarea>
    </div>

    <div class="input-row">
      <div class="col input">
        <div class="input-label">Fuel type</div>
        <p-dropdown
          formControlName="fuel"
          [options]="carsList.FuelTypes"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>

      <div class="col input mx-3">
        <div class="input-label">Cubic capacity</div>
        <input
          formControlName="cubicCapacity"
          pInputText
          placeholder="Cubic capacity (cm&#xB3;)"
        />
      </div>

      <div class="col input">
        <div class="input-label">Power</div>
        <input formControlName="power" placeholder="Power (hp)" pInputText />
      </div>

      <div class="col input ms-3">
        <div class="input-label">Transmission</div>
        <p-dropdown
          formControlName="transmission"
          [options]="carsList.TransmissionTypes"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="input-row">
      <div class="col input">
        <div class="input-label">Traction</div>
        <p-dropdown
          formControlName="traction"
          [options]="carsList.TractionTypes"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>

      <div class="col input mx-3">
        <div class="input-label">Body type</div>
        <p-dropdown
          formControlName="body"
          [options]="carsList.BodyTypes"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>

      <div class="col input">
        <div class="input-label">Steering wheel</div>
        <p-dropdown
          formControlName="wheel"
          [options]="carsList.SteeringWheels"
          placeholder="Choose"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="input">
      <div class="input-label">Upload photos</div>
      <div [class.photos-box-error]="imagesEmpty">
        <p-fileUpload
          [customUpload]="true"
          [auto]="true"
          [multiple]="true"
          accept="image/*"
          (onSelect)="onImageSelected($event)"
          (onRemove)="onImageRemoved($event)"
        >
        </p-fileUpload>
      </div>
    </div>

    <div class="input">
      <div class="input-label">Finally, set the desired price!</div>
      <input formControlName="price" pInputText placeholder="Price (€)" />
    </div>
  </form>

  <div class="d-flex justify-content-center">
    <p-button
      (onClick)="submit()"
      [loading]="submitLoading"
      class="submit w-50"
      label="Submit"
    >
    </p-button>
  </div>
</div>
