<form [formGroup]="sellForm">
  <div class="input-row mt-3">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Make
        </div>

        <p-dropdown class="large-component"
                    formControlName="make"
                    [options]="carsList.MakesArray"
                    (onChange)="onMakeSelected()"
                    placeholder="Choose">
        </p-dropdown>
      </div>
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Model
        </div>

        <p-dropdown class="large-component"
                    formControlName="model"
                    [options]="carsList.ModelsForOneMake"
                    placeholder="Choose">
        </p-dropdown>
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          First registration
        </div>

        <input class="large-component"
               formControlName="year"
               pInputText
               placeholder="Production year" />
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Mileage
        </div>

        <input class="large-component"
               formControlName="mileage"
               pInputText
               placeholder="Mileage (km)" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-100 px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Car description
    </div>

    <textarea class="large-component"
              formControlName="description"
              pInputTextarea
              placeholder="Describe your car  "
              [autoResize]="true"></textarea>
  </div>

  <div class="input-row">
    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Fuel type
        </div>

        <p-dropdown class="large-component"
                    formControlName="fuel"
                    [options]="carsList.FuelTypes"
                    placeholder="Choose">
        </p-dropdown>
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Cubic capacity
        </div>

        <input class="large-component"
               formControlName="cubicCapacity"
               pInputText
               placeholder="Cubic capacity (cm&#xB3;)" />
      </div>
    </div>

    <div class="two-inputs col">
      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Power
        </div>

        <input class="large-component"
               formControlName="power"
               pInputText
               placeholder="Power (hp)" />
      </div>

      <div class="col d-flex flex-column justify-content-center px-3 mb-3">
        <div class="h5 mb-1 fw-bold">
          Transmission
        </div>

        <p-dropdown class="large-component"
                    formControlName="transmission"
                    [options]="carsList.TransmissionTypes"
                    placeholder="Choose">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="input-row">
    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Traction
      </div>

      <p-dropdown class="large-component"
                  formControlName="traction"
                  [options]="carsList.TractionTypes"
                  placeholder="Choose">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Body type
      </div>

      <p-dropdown class="large-component"
                  formControlName="body"
                  [options]="carsList.BodyTypes"
                  placeholder="Choose">
      </p-dropdown>
    </div>

    <div class="col d-flex flex-column justify-content-center px-3 mb-3">
      <div class="h5 mb-1 fw-bold">
        Steering wheel
      </div>

      <p-dropdown class="large-component"
                  formControlName="wheel"
                  [options]="carsList.SteeringWheels"
                  placeholder="Choose">
      </p-dropdown>
    </div>
  </div>

  <div class="px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Upload photos
    </div>

    <div [class.photos-box-error]="imagesEmpty">
      <p-fileUpload [customUpload]="true"
                    [auto]="true"
                    [multiple]="true"
                    accept="image/*"
                    (onSelect)="onImageSelected($event)"
                    (onRemove)="onImageRemoved($event)">
      </p-fileUpload>
    </div>

  </div>

  <div class="w-100 d-flex flex-column justify-content-center px-3 mb-3">
    <div class="h5 mb-1 fw-bold">
      Finally, set the desired price!
    </div>

    <input class="large-component"
           formControlName="price"
           pInputText
           placeholder="Price (€)" />
  </div>
</form>

<div class="w-100 d-flex justify-content-center mt-2 mb-5">
  <div class="submit-btn"
       (click)="submit()">
    Submit
  </div>
</div>
