.sell-a-car-form-component {
  padding: 15px;

  .sell-a-car-form {
    margin-top: 30px;

    .input-row {
      display: flex;
      justify-content: center;
    }

    .input {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .input-label {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .p-inputwrapper,
  .p-inputtext {
    height: 50px;
    width: 100%;
  }

  .p-dropdown-items {
    padding: 0;
    margin-bottom: 0px;
    font-style: initial;
  }

  .p-dropdown-item {
    padding-left: 15px;
  }

  .p-inputwrapper,
  .p-inputtext {
    font-style: italic;
    font-size: 16px;
    font-family: "Inter var", sans-serif;
  }

  .p-dropdown-label {
    display: flex;
    align-items: center;
  }

  .photos-box-error {
    border: 1px solid #e24c4c;
    border-radius: 6px;
  }

  .submit .p-button {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #ff533d;

    &:hover {
      opacity: 0.9;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }
}
